body {
    background-color: #f3e5d8;
}

section {
    display: flex;
    background-color: white;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px auto;
    width: 47.5%;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

section img {
    width: 680px;
    height: 300px;
    border-radius: 20px;
    padding: 15px 0px;
}

section h2 {
    width: 87%;

}

.width {
    width: 87%;
}

section p {
    margin-top: -5px;
    width: 87%;
}

h4 {
    width: 100%;
    padding-left: 25px;
    color: #613147;
    font-size: 20px;

}

.preparation {
    background-color: #fbeef688;
    width: 87%;

    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.preparation h4 {
    margin-bottom: 0px;
}

.preparation ul li {
    padding-top: 5px;
}

.div2 {
    background-color: white;
}

.div2 h2 {
    font-weight: bolder;
}

ul {
    list-style-type: none;
    list-style-position: outside;
    text-indent: 20px;
}

.preparation li::before {
    content: "•";
    color: #613147;
    font-size: 20px;
    margin: 10px;
    margin-left: -33px;
    margin-right: 25px;
}

.div2 ul li {
    font-size: 15px;
}

.Instructions {

    display: flex;
    background-color: white;
    justify-content: center;
    flex-wrap: wrap;
}

.Instructions h2 {
    color: #613147;
}

ol {
    list-style-position: outside;
    text-indent: 0px;
    margin: 0px 45px;
    border-bottom: .5px solid #ddd;
}

ol li {
    padding: 5px 10px;
    font-size: 15px;
    margin-bottom: 5px;
}

ol li::marker {
    color: #613147;
    font-weight: bolder;
}

.Nutrition {
    width: 87%;
}

.Nutrition h2 {
    color: #613147;
}

.Nutrition p {
    font-size: 15px;
}

.row {
    padding: 5px 25px;
    display: flex;
    flex-direction: row;
}

.nutrition-table {
    width: 87%;
    margin: 0 auto;
    border-collapse: collapse;
}

.nutrition-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    color: black;
}

.nutrition-table .bold-text {
    font-weight: bold;
    color: #613147;
}